FRESHCOMICS_FRONTEND_HOST={{ freshcomics_frontend_host }}
FRESHCOMICS_FRONTEND_PORT={{ freshcomics_frontend_port }}
FRESHCOMICS_FRONTEND_DSN='host={{ freshcomics_dbhost }} user={{ freshcomics_user }} password={{ freshcomics_dbpassword }} dbname={{ freshcomics_dbname }}'
FRESHCOMICS_FRONTEND_REFRESHINTERVALSECS={{ freshcomics_frontend_refreshintervalsecs }}
FRESHCOMICS_FRONTEND_GEOIPREFRESHSECS={{ freshcomics_frontend_geoiprefreshsecs }}
FRESHCOMICS_FRONTEND_GEOIPFETCHTIMEOUTSECS={{ freshcomics_frontend_geoipfetchtimeoutsecs }}