{{ define "frontend_index" }}
    {{ template "frontend_header" }}
    <article>
        <ul id="comic_list">
        {{ range .Comics }}
            <li>
                <a target="_blank" href="/view/{{ .ID }}">{{ .Name }}: <em>{{ .Title }}</em>{{ if .NSFW }}<sup class="nsfw">NSFW</sup>{{ end }}</a>
                <time>seen {{ .SeenAt | humanDuration }}</time>
        {{ end }}
        </ul>
    </article>
    {{ template "frontend_footer" }}
{{ end }}