FRESHCOMICS_CRAWLER_HOST={{ freshcomics_crawler_host }}
FRESHCOMICS_CRAWLER_PORT={{ freshcomics_crawler_port }}
FRESHCOMICS_CRAWLER_DSN='host={{ freshcomics_dbhost }} user={{ freshcomics_user }} password={{ freshcomics_dbpassword }} dbname={{ freshcomics_dbname }}'
FRESHCOMICS_CRAWLER_CHECKINTERVALSECS={{ freshcomics_crawler_checkintervalsecs }}
FRESHCOMICS_CRAWLER_CRAWLDISPATCHSECS={{ freshcomics_crawler_crawldispatchsecs }}
FRESHCOMICS_CRAWLER_BACKOFF={{ freshcomics_crawler_backoff }}