[Unit]
Description=FreshComics Crawler
After=network.target

[Service]
Type=simple
User=freshcomics
WorkingDirectory={{ freshcomics_home }}
EnvironmentFile=/opt/freshcomics/freshcomics-crawler.env
ExecStart=/opt/freshcomics/freshcomics-crawler
Restart=on-failure