<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>SiteDef Details | FreshComics Crawler</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
    body { padding-top: 70px; }
    input { font-family: monospace; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/">FreshComics Crawler</a>
        </div>
      </div>
    </nav>
    <div class="container">
        <h1>{{ .SiteDef.Name }}</h1>
        {{ if ne .Message "" }}
            {{ if .Success }}
                <div class="alert alert-success">{{ .Message }}</div>
            {{ else }}
                <div class="alert alert-danger">{{ .Message }}</div>
            {{ end }}
        {{ end }}
        <form method="POST" action="/newsitedef">
            <div class="form-group">
                <label class="control-label" for="sitedef_name">Name:</label>
                <input class="form-control" type="text" id="sitedef_name" name="name" value="{{ .SiteDef.Name }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_starturl">Start URL:</label>
                <input class="form-control" type="url" id="sitedef_starturl" name="starturl" value="{{ .SiteDef.StartURL }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_pagtemplate">Pagination Template:</label>
                <input class="form-control" type="text" id="sitedef_pagtemplate" name="pagtemplate" value="{{ .SiteDef.PagTemplate }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_refxpath">Ref XPath:</label>
                <input class="form-control" type="text" id="sitedef_refxpath" name="refxpath" value="{{ .SiteDef.RefXpath}}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_refregexp">Ref Regexp:</label>
                <input class="form-control" type="text" id="sitedef_refregexp" name="refregexp" value="{{ .SiteDef.RefRegexp }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_titlexpath">Title XPath:</label>
                <input class="form-control" type="text" id="sitedef_titlexpath" name="titlexpath" value="{{ .SiteDef.TitleXpath }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_titleregexp">Title Regexp:</label>
                <input class="form-control" type="text" id="sitedef_titleregexp" name="titleregexp" value="{{ .SiteDef.TitleRegexp }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_datexpath">Date XPath:</label>
                <input class="form-control" type="text" id="sitedef_datexpath" name="datexpath" value="{{ .SiteDef.DateXpath}}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_refregexp">Date Regexp:</label>
                <input class="form-control" type="text" id="sitedef_dateregexp" name="dateregexp" value="{{ .SiteDef.DateRegexp}}">
            </div>
            <div class="form-group">
                <label class="control-label" for="sitedef_dateformat">Date Format (Mon Jan 2 15:04:05 MST 2006):</label>
                <input class="form-control" type="text" id="sitedef_dateformat" name="dateformat" value="{{ .SiteDef.DateFormat }}">
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Submit">
            </div>
        </form>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
